.characterCard{
    display: flex;
    max-width: 500px;
    margin: 15px 0 15px 120px;
    border: none;
    box-shadow: 1px 1px 3px #212D5E; 
    padding: 0;
}

.dataCard{
    padding-left: 20px;
    padding-top: 10px;
}

.btn-favorite{
    font-family: 'FontAwesome';
    content: "\f004";
    font-size: 40px;
    color: red;
    top: 150%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}

svg {
    width: 20px;
    height: 20px;
    margin-left: 90px;
    fill: rgb(189, 184, 184);
}
svg:hover {
    fill: #FE4A49;
}


img{
    width: 200px;
}
