.navbar{
    height: 100px;
    padding: 20px;
    box-shadow: 5px 0px 5px;
}

.search{
    width: 80%;
    height: 50px;
    margin: 5px 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 3px #212D5E; 
    font-size: large;
    color: black;
    padding-left: 30px;
}

.btn-filter{
    background-color: #FE4A49;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    height: 50px;
    width: 12%;
    margin: 0 25px;
    font-size: large;
}
